<section class="hero">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-3"></div>
      <div class="tile is-vertical is-6">
        <div class="tile">
          <div class="tile is-parent is-vertical">

            <div class="tile is-child notification is-orange">
              <div class="field is-grouped">
                <p class="control">
                  <input class="input" type="text" placeholder="Procurar Documentos" #nameImput>
                </p>
                <p class="control">
                  <a class="button is-info fas fa-search" #btnFind></a>
                </p>
              </div>
            </div>

            <article class="tile is-child ">
              <nav class="panel">
                <p class="panel-heading">
                  Documentos
                </p>
                <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  Balanço-01-2019.pdf
                </a>
                <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  Balanço-02-2019.pdf
                </a>
                <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  Ata-assembleia-12-2017.pdf
                </a>
                <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  Edital-de-Convocação-11-2017.pdf
                </a>
                <a class="panel-block">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                  Convenc-do-condominio-12-2017.pdf
                </a>
              </nav>
            </article>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>