<br>
<br>
<div class="tile is-ancestor">
  <div class="tile is-parent is-vertical is-4">
  </div>
  <div class="tile is-parent is-vertical is-4">
    <article class="tile is-child">
      <div class="title is-3 notification has-text-centered is-green">
        Aviso
      </div>
      <div class="card-content">
        <div class="content">
          <p class="title is-3 has-text-centered  pb-6">
            Deseja sair?
          </p>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item button is-info is-medium mr-4" (click)="onLogoff()">Sim</a>
        <a class="card-footer-item button is-medium ml-4" routerLink="../home">Não</a>
      </footer>
    </article>
  </div>
</div>