<section class="hero">
    <div class="hero-body">
  
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-3"></div>
        <div class="tile is-vertical is-6">
          <div class="tile">
  
            <div class="tile is-parent is-vertical">
  
              <article class="is-child notification is-info">
                <p class="title has-text-centered">
                  Portal Condomínio
                </p>
                <br>
                <p>
                  O principal objetivo é ajudar o síndico a organizar tudo o que acontece no condomínio.
                </p>
              </article>
  
              <article class="tile is-child notification has-text-centered">
                <p class="title">Funcionalidades</p>
              </article>
              
              <article class="tile is-child notification">
                  Página com agenda do condomínio, como detetização, pintura, obras, datas de assembleias e locação do espaço de lazer.
              </article>
               
              <article class="tile is-child notification">
                  Página para a portaria com Lista de pessoas que podem visitar o prédio (cadastro com nome, foto, placa do veículo), possibilidade de notificar a portaria no caso de visitas antecipadamente.
              </article>                  

              <article class="tile is-child notification">
                  Pagina para consulta de serviços de emergência como mecânico, pintor, eletricista etc, e também de comida por delivery, táxi, vans escolares etc.
              </article>

              <article class="tile is-child notification">
                  Anúncios de vendas e serviços dos moradores do condomínio.
              </article>                  

              <article class="tile is-child notification">                
                  Pagina de ouvidoria para sugestões e reclamações.
              </article>  

            </div>
            <br>
          </div>
        </div>
        </div>
    </div>
  </section>

  

