<section class="hero">
  <div class="hero-body is-12">

    <div class="tile is-ancestor">
      
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="is-child notification is-info">
              <p class="title has-text-centered">
                Serviços
              </p>
            </article>

            <article class="tile is-child notification">
              <span class="tag is-light">11/10/2018</span>
              <p class="title">Decoradora</p>
              <p class="subtitle">Jessica <span class="tag is-info">whatsapp: (11) 9 9654-8343</span></p>
              <p>Decoradora e Design de interiores com vasta experiência, agende uma visita!</p>
            </article>

            <article class="tile is-child notification">
              <span class="tag is-light">12/06/2018</span>
              <p class="title">Aula de violão</p>
              <p class="subtitle">Pedro <span class="tag is-info">whatsapp: (11) 9 9654-6343</span></p>
              <p>Sou músico há 10 anos, faço shows para eventos, se tem interesse a tocar violão com um
                profissional entre em contato.</p>
            </article>

            <article class="tile is-child notification">
              <span class="tag is-light">02/09/2018</span>
              <p class="title">Contador</p>
              <p class="subtitle">Pedro <span class="tag is-info">whatsapp: (11) 9 9612-3245</span></p>
              <p>Profissional de contabilidade com CRM, Faço declarações do Imposto de Renda e consultoria. </p>
            </article>

            <article class="tile is-child notification">
              <span class="tag is-light">02/09/2018</span>
              <p class="title">Doces & Bolos</p>
              <p class="subtitle">Lúcia <span class="tag is-info">whatsapp: (11) 9 9871-3225</span></p>
              <p>Fazemos doces e bolos para festas de aniverário e casamento.</p>
            </article>

          </div>
          <br>

          <div class="tile is-parent is-vertical">

            <article class="is-child notification is-success">
              <p class="title has-text-centered">
                Oportunidades
              </p>
            </article>

            <article class="tile is-child notification">
              <span class="tag is-light">02/09/2018</span>
              <p class="title">Pintor</p>
              <p class="subtitle">Mauro <span class="tag is-info">whatsapp: (11) 9 9867-3242</span></p>
              <p>Procuro pintor para orçamento, Apto 52mts.</p>
            </article>
            <article class="tile is-child notification">
              <span class="tag is-light">02/09/2018</span>
              <p class="title">Aplicador de gesso</p>
              <p class="subtitle">Mathias <span class="tag is-info">whats: (11) 9 9329-5245</span></p>
              <p>Procuro profissional ou indicação para aplicar gesso no teto do Apto. </p>
            </article>
            <article class="tile is-child notification">
              <span class="tag is-light">02/09/2018</span>
              <p class="title">Hospedagem Cachorro</p>
              <p class="subtitle">Guilherme <span class="tag is-info">whats: (11) 9 9362-8245</span>
              </p>
              <p>Iremos viajar de 12/12 à 23/12 e gostaríamos de pessoa responsável para cuidar do nosso
                cachorro chiuaua.</p>
            </article>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>