<section class="hero">
  <div class="hero-body is-12">
    <div class="tile is-ancestor">
      <div class="tile">
        <div class="tile is-parent is-vertical inline-table">
          <article class="is-child notification box is-info">
            <p class="title has-text-centered">
              Serviços
            </p>
          </article>
          <nav class="level level-left" *ngIf="isAdmin()">
            <a class="button is-primary" [routerLink]="['../negocios', 'editar', 0]">Novo</a>
          </nav>
          <div class="tile is-child box" *ngFor="let negocio of servicos">
            <p class="title has-text-centered">
              {{ negocio.titulo }}
            </p>
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <div class="img-post">
                    <figure class="is-4by3" *ngIf="negocio.urlImagem">
                      <img [src]="negocio.urlImagem" />
                    </figure>
                  </div>
                  <br>
                  <p *ngIf="isAdmin()" class="tag is-dark">{{ negocio.dataCriacao | date:'dd/MM/yyyy' }}</p>
                  <p class="subtitle">
                    {{ negocio.texto }}
                  </p>
                </div>

                <nav *ngIf="isAdmin()" class="level level-left">
                  <hr>
                  <br>
                  <a class="button is-info" [routerLink]="['../negocios', 'editar', negocio.id]">Editar</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="button is-danger" (click)="onToggleModal(negocio.id)">Excluir</a>
                </nav>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent is-vertical">
          <article class="is-child notification box is-success">
            <p class="title has-text-centered">
              Oportunidades
            </p>
          </article>
          <nav class="level level-left" *ngIf="isAdmin()">
            <a class="button is-primary" [routerLink]="['../negocios', 'editar', 0]">Novo</a>
          </nav>
          <div class="tile is-child box" *ngFor="let negocio of oportunidades">
            <p class="title has-text-centered">
              {{ negocio.titulo }}
            </p>
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <div class="img-post">
                    <figure class="is-4by3" *ngIf="negocio.urlImagem">
                      <img [src]="negocio.urlImagem" />
                    </figure>
                  </div>
                  <br>
                  <p *ngIf="isAdmin()" class="tag is-dark">{{ negocio.dataCriacao | date:'dd/MM/yyyy' }}</p>
                  <p class="subtitle">
                    {{ negocio.texto }}
                  </p>
                </div>
                <nav *ngIf="isAdmin()" class="level level-left">
                  <hr>
                  <br>
                  <a class="button is-info" [routerLink]="['../negocios', 'editar', negocio.id]">Editar</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="button is-danger" (click)="onToggleModal(negocio.id)">Excluir</a>
                </nav>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>