<section class="hero">
  <div class="hero-body">
    <div class="tile is-ancestor">

      <div class="tile is-vertical is-3">
      </div>

      <div class="tile is-vertical is-6">
        <div class="tile">
          <div class="tile is-parent is-vertical">

            <article class="is-child notification is-danger">
              <p class="subtitle">Aviso</p>
              <p>
                As reclamação ou sugestões postadas aqui são anônimas e só o síndico poderá ter acesso.
              </p>
            </article>

            <article class="tile is-child notification">

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Morador</strong> - 01/03/2019 09:00
                      <br>
                      O lixo não está sendo jogado no devido lugar e a porta fica constantemente aberta deixando cheiro
                      ruim no apartamento.
                      <br>
                    </p>

                    <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                      </div>
                  </div>

                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Resposta:</strong>
                          <br>
                          Os moradores estão sendo notificados sobre o caso, estamos orientando todos a fechar a porta
                          após jogar o lixo fora. Obrigado.
                          <br>
                        </p>
                      </div>

                    </div>
                  </article>
                </div>
              </article>
            </article>

            <article class="tile is-child notification">

                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Morador</strong> - 03/03/2019  11:00
                        <br>
                          Há moradores escutando som alto após as 10:00 pm no estacionamento.
                        <br>
                      </p>
                    </div>
                      
                  </div>
                </article>
              </article>            

          </div>
        </div>
      </div>

    </div>
  </div>
</section>