<section class="hero">
  <div class="hero-body">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-3"></div>
      <div class="tile is-vertical is-6">
        <div class="tile">
          <div class="tile is-parent is-vertical">

              <div class="tile is-child notification has-text-centered">
                  <p class="title"> Visitas </p>
              </div>

            <div class="tile is-child">
              <div class="tile is-child notification">
                <div class="field is-grouped">
                  <p class="control">
                    <input class="input" type="text" placeholder="Procurar Visitante" #nameImput>
                  </p>
                  <p class="control">
                    <a class="button is-info fas fa-search" #btnFind></a>
                  </p>
                </div>
              </div>
              <br>

              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <span class="tag is-light">11/10/2018</span>&nbsp;&nbsp;
                      <span class="tag is-warning">Apto. 01 Bloco 05</span>
                      <p>
                        <br>
                        <strong>Visitante</strong> - José Ribeiro
                        <br>
                        Honda Titan - Azul
                        <br>
                        Placa: URY-2032
                      </p>
                    </div>
                    
                  </div>
                </article>
              </div>

              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <span class="tag is-light">11/10/2018</span>&nbsp;&nbsp;
                      <span class="tag is-warning">Apto. 22 Bloco 03</span>
                      <p>
                        <strong>Visitante</strong> - Ana Cristina
                        <br>
                        Honda Fit - Cinza
                        <br>
                        Placa: HTF-9328
                      </p>
                    </div>

                  </div>
                </article>
              </div>

              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <span class="tag is-light">11/10/2018</span>&nbsp;&nbsp;
                      <span class="tag is-warning">Apto. 03 Bloco 07</span>
                      <p>
                        <strong>Visitante</strong> - Marcelo Andrade
                        <br>
                        Gol - Branco
                        <br>
                        Placa: BGF-2934
                      </p>
                    </div>

                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>