.table {
    width: 98%;
}

@media only screen and (max-width: 568px) {
    .notification {
        padding: 1.25rem 1.0rem 1.25rem 1.25rem;
    }
    table td {    
        font-size: 14px;
    }    
 }



.td-right {
    text-align: right;
}