
.hero-body {
   padding: 1rem 0rem;
}

div.container {
   padding: 1rem 1rem 3.6rem 1rem;
   width: 24%;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
   color: #4a4a4a;      
}

.notification.is-danger {
    background-color: #ff6666;
    color: #fff;
    font-size: 14px;
 }
 
 .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
 }
    
 .ng-invalid:not(form):not(.ng-pristine)  {
    border-left: 5px solid #a94442; /* red */
 }

 @media only screen and (max-width: 1020px) {
   div.container {
      width: 80%;      
   }
}