<div class="tile is-ancestor">
  <div class="tile is-vertical is-3"></div>
  <div class="tile is-vertical is-6">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <br>
        <br>
        <br>
        <br>

        <div class="tile is-child">
          <article class="tile is-child">
            <figure class="image">
              <img src="../../../assets/img/Logo-ilhas-do-caribe.jpeg">
            </figure>
          </article>
        </div>
        <br>
        <br>
        <br>

        <article class="tile is-child notification">
          <p class="title"></p>
          <p class="subtitle">
             Rua Catagua, 805
             <br>
             Jardim Santa Tereza
             <br>
             Carapicuíba - SP
          </p>
        </article>

      </div>

    </div>

  </div>

</div>